// Add your custom CSS here.
@media(max-width: 767px) {
  .fb_dialog, #fb-root {
    display: none !important;
  }
}
@media(min-width: 767px) {
  .fb_dialog_content iframe {
    left: 6px !important;
    bottom: 217px !important;
}

  #fb-root .fb_iframe_widget > span > iframe {
    left: 6px !important;
    bottom: 145px !important;
  }
}
.product-card__buy.fade {
  opacity: 1 !important;
}
